{% extends "layouts/main.html" %}

{% set pageName="Set procurement timeline" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
              {% if (data['userType'] == 'procurement-operations') %}
                <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="#">Procurements</a>
                </li>
              {% endif %}
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="../../procurement">004335 Catering
                  services</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Set procurement
                  timeline</a>
              </li>
            </ol>
          </nav>
          {% include "../../includes/case-identifiers.html" %}
          <h1 class="govuk-heading-l">Set procurement timeline</h1>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="set-procurement-timeline" method="post" novalidate>
            <div class="govuk-form-group">
              <p class="govuk-body">Review the key dates, school holidays and
                ensure the contract handover date is achievable.</p>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Help with setting the procurement timeline
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <p class="govuk-body">When setting the procurement timeline, consider:</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>other procurements you are working concurrently</li>
                    <li>time demanding tasks such as moderation sessions</li>
                    <li>school term dates, holidays and non-working days</li>
                    <li>agreed key dates</li>
                    <li>commitment required by the school</li>
                  </ul>
                </div>
              </details>
            </div>
            <div class="govuk-form-group">
              <h2 class="govuk-heading-m">Actions</h2>
              <fieldset class="govuk-fieldset">
                <div class="govuk-checkboxes govuk-checkboxes__checklist" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    {% if (data['userType'] == 'procurement-operations') %}
                      <input class="govuk-checkboxes__input" id="tagSetProcurementTimeline-1" name="tagSetProcurementTimeline" type="checkbox" value="Review and set dates for tasks" {{ checked("tagSetProcurementTimeline", "Review and set dates for tasks") }}>
                    {% else %}
                      <input disabled aria-disabled="true" class="govuk-checkboxes__input" id="tagSetProcurementTimeline-1" name="tagSetProcurementTimeline" type="checkbox" value="Review and set dates for tasks" {{ checked("tagSetProcurementTimeline", "Review and set dates for tasks") }} >
                    {% endif %}
                    <label class="govuk-label govuk-checkboxes__label" for="tagSetProcurementTimeline-1">
                      Review and set dates for tasks
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    {% if (data['userType'] == 'procurement-operations') %}
                      <input class="govuk-checkboxes__input" id="tagSetProcurementTimeline-2" name="tagSetProcurementTimeline" type="checkbox" value="Share dates with the school" {{ checked("tagSetProcurementTimeline", "Share dates with the school") }}>
                    {% else %}
                      <input disabled aria-disabled="true" class="govuk-checkboxes__input" id="tagSetProcurementTimeline-2" name="tagSetProcurementTimeline" type="checkbox" value="Share dates with the school" {{ checked("tagSetProcurementTimeline", "Share dates with the school") }} >
                    {% endif %}
                    <label class="govuk-label govuk-checkboxes__label" for="tagSetProcurementTimeline-2">
                      Share dates with the school
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item" style="display: none;">
                    <input class="govuk-checkboxes__input" id="tagSetProcurementTimeline-0" name="tagSetProcurementTimeline" type="checkbox" value="empty" checked="empty">
                    <label class="govuk-label govuk-checkboxes__label" for="tagSetProcurementTimeline-0">
                      empty
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="govuk-button-group">
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Save and continue
              </button>
              <a class="govuk-link" href="../../procurement">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
