{% extends "layouts/main.html" %}

{% set pageName="Check cost threshold" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Procurements</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="../procurement">004335 Catering
                  services</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Check cost threshold
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="check-cost-threshold" method="post" novalidate>
            <div class="govuk-form-group">
              {% include "../../includes/case-identifiers.html" %}
              <h1 class="govuk-heading-l" id="page-title">Check cost
                threshold</h1>
              <p class="govuk-body">Thresholds for procurements are revised
                each January and can be found on <a href="https://www.gov.uk/government/publications/procurement-act-2023-guidance-documents-define-phase/guidance-thresholds-html" class="govuk-link" rel="noreferrer noopener" target="_blank">
                the GOV.UK website (opens in new tab)</a>. If the
                procurement framework in use is above the threshold then it
                will need additional checks from the Commercial Assurance
                Board (CAB).</p>
              <p class="govuk-body">Use the threshold for the year when the
                framework or deal was created. If you are using a Bespoke
                procurement then use this year's threshold.</p>
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  Is the procurement framework in use below the relevant
                  threshold?</legend>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="costThresholdStatus" name="costThresholdStatus" type="radio" value="Below the relevant threshold" {{ checked("costThresholdStatus", "Below the relevant threshold") }}>
                    <label class="govuk-label govuk-radios__label" for="costThresholdStatus">
                      Below the relevant threshold
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="costThresholdStatus-2" name="costThresholdStatus" type="radio" data-aria-controls="frameworkNameHolder" value="Above the relevant threshold" {{ checked("costThresholdStatus", "Above the relevant threshold") }}>
                    <label class="govuk-label govuk-radios__label" for="costThresholdStatus-2">
                      Above the relevant threshold
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="govuk-button-group">
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Save and continue
              </button>
              <a class="govuk-link" href="../procurement">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
