<div class="govuk-inset-text">
  <p class="govuk-body govuk-!-margin-0">
    <span class="govuk-!-font-weight-bold">Procurement ID: </span>
    004335</p>
  <p class="govuk-body govuk-!-margin-0">
    <span class="govuk-!-font-weight-bold">Main contact:</span>
    Marissa Dale</p>
  <p class="govuk-body govuk-!-margin-0">
    <span class="govuk-!-font-weight-bold">Organisation:</span>
    Bueller Trust</p>
  <p class="govuk-body govuk-!-margin-0">
    <span class="govuk-!-font-weight-bold">Target end date:</span>
    25 July 2026</p>
</div>
