<h3 class="govuk-heading-m">1. Approach to market</h3>
<ul class="govuk-task-list">
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="approach-to-market/complete-information-gathering" aria-describedby="company-details-1-status">
        Complete information gathering
      </a>
    </div>
    <div class="govuk-task-list__status">
      {% if (data['tagCompleteInformationGatheringStatus'] == "complete") %}
        <strong class="govuk-tag govuk-tag--green">Complete</strong>
      {% elseif (data['tagCompleteInformationGatheringStatus'] == "inProgress")%}
        <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
      {% else %}
        <strong class="govuk-tag govuk-tag--blue">To do</strong>
      {% endif %}
    </div>
  </li>
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="approach-to-market/invite-the-school-lead" aria-describedby="company-details-1-status">
        Invite the school lead
      </a>
    </div>
    <div class="govuk-task-list__status">
      {% if (data['tagInviteTheSchoolLeadStatus'] == "complete") %}
        <strong class="govuk-tag govuk-tag--green">Complete</strong>
      {% elseif (data['tagInviteTheSchoolLeadStatus'] == "inProgress")%}
        <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
      {% else %}
        <strong class="govuk-tag govuk-tag--blue">To do</strong>
      {% endif %}
    </div>
  </li>
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="approach-to-market/record-route-to-market" aria-describedby="company-details-2-status">
        Record route to market
      </a>
    </div>
    <div class="govuk-task-list__status">
      {% if (data['tagRecordRouteToMarketStatus'] == "complete") %}
      <strong class="govuk-tag govuk-tag--green">Complete</strong>
      {% elseif (data['tagRecordRouteToMarketStatus'] == "inProgress")%}
      <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
      {% else %}
      <strong class="govuk-tag govuk-tag--blue">To do</strong>
      {% endif %}
    </div>
  </li>
  {% if (data['userType'] == 'procurement-operations') %}
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="approach-to-market/check-cost-threshold" aria-describedby="company-details-1-status">
          Check cost threshold
        </a>
      </div>
      <div class="govuk-task-list__status">
        {% if (data['tagCheckCostThresholdStatus'] == "complete") %}
          <strong class="govuk-tag govuk-tag--green">Complete</strong>
        {% elseif (data['tagCheckCostThresholdStatus'] == "inProgress")%}
          <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
        {% else %}
          <strong class="govuk-tag govuk-tag--blue">To do</strong>
        {% endif %}
      </div>
    </li>
  {% endif %}
  {% if (data['userType'] == 'procurement-operations') %}
    {% if (data['routeToMarket'] == "Non-DfE approved deal or framework") %}
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="approach-to-market/get-CAB-approval-for-Non-DfE-deal-or-framework" aria-describedby="company-details-2-status">
            Get CAB approval for Non-DfE deal or framework
          </a>
        </div>
        <div class="govuk-task-list__status">
          {% if (data['tagCabApprovalNonDfeDealFrameworkStatus'] == "complete") %}
            <strong class="govuk-tag govuk-tag--green">Complete</strong>
          {% elseif (data['tagCabApprovalNonDfeDealFrameworkStatus'] == "inProgress")%}
            <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">To do</strong>
          {% endif %}
        </div>
      </li>
    {% endif %}
  {% endif %}
  {% if (data['userType'] == 'procurement-operations') %}
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="approach-to-market/get-approval-for-next-stage" aria-describedby="company-details-4-status">
          Get approval for next stage
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-4-status">
        {% if (data['stage1ApprovalBlocked'] == "true") %}
          <strong class="govuk-tag govuk-tag--grey">Cannot start</strong>
        {% else %}
          {% if (data['tagGetApprovalForStage2Status'] == "complete") %}
            <strong class="govuk-tag govuk-tag--green">Complete</strong>
          {% elseif (data['tagGetApprovalForStage2Status'] == "inProgress")%}
            <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">To do</strong>
          {% endif %}
        {% endif %}
      </div>
    </li>
  {% endif %}
</ul>
