<span class="govuk-caption-m">Complete on {{ data['publishCallOffToCompetitionEndDate'] }}</span>
<h3 class="govuk-heading-m">2. Prepare and go to market</h3>
<ul class="govuk-task-list">
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="prepare-and-go-to-market/call-off-document-preparation">
        Call off document preparation
      </a>
    </div>
    <div class="govuk-task-list__status">
      {% if (data['tagCallOffDocumentPreparationStatus'] == "complete") %}
        <strong class="govuk-tag govuk-tag--green">Complete</strong>
      {% elseif (data['tagCallOffDocumentPreparationStatus'] == "inProgress") %}
        <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
      {% else %}
        <strong class="govuk-tag govuk-tag--blue">Due: {{ data['callOffDocumentPreparationStartDate'] }} - {{ data['callOffDocumentPreparationEndDate'] }}</strong>
      {% endif %}
    </div>
  </li>
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="prepare-and-go-to-market/get-g7-approval">
        Get G7 approval
      </a>
    </div>
    <div class="govuk-task-list__status">
      {% if (data['tagGetG7ApprovalStatus'] == "complete") %}
        <strong class="govuk-tag govuk-tag--green">Complete</strong>
      {% elseif (data['tagGetG7ApprovalStatus'] == "inProgress") %}
        <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
      {% else %}
        <strong class="govuk-tag govuk-tag--blue">Due: {{ data['getG7ApprovalStartDate'] }} - {{ data['getG7ApprovalEndDate'] }}</strong>
      {% endif %}
    </div>
  </li>
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="prepare-and-go-to-market/get-school-sign-off-for-document-pack">
        Get school sign-off for document pack
      </a>
    </div>
    <div class="govuk-task-list__status">
      {% if (data['tagSignOffBidDocumentWithSchoolStatus'] == "complete") %}
        <strong class="govuk-tag govuk-tag--green">Complete</strong>
      {% elseif (data['tagSignOffBidDocumentWithSchoolStatus'] == "inProgress") %}
        <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
      {% else %}
        <strong class="govuk-tag govuk-tag--blue">Due: {{ data['signOffBidDocumentWithSchoolStartDate'] }} - {{ data['signOffBidDocumentWithSchoolEndDate'] }}</strong>
      {% endif %}
    </div>
  </li>
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="prepare-and-go-to-market/publish-call-off-to-competition">
        Publish call off to competition
      </a>
    </div>
    <div class="govuk-task-list__status">
      {% if (data['tagPublishCallOffToCompetitionStatus'] == "complete") %}
        <strong class="govuk-tag govuk-tag--green">Complete</strong>
      {% elseif (data['tagPublishCallOffToCompetitionStatus'] == "inProgress") %}
        <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
      {% else %}
        <strong class="govuk-tag govuk-tag--blue">Due: {{ data['publishCallOffToCompetitionStartDate'] }} - {{ data['publishCallOffToCompetitionEndDate'] }}</strong>
      {% endif %}
    </div>
  </li>
</ul>
