<span class="govuk-caption-m">Complete on {{ "today" | duration(data['stage1Duration']) | govukDate("truncate") }}</span>


<h3 class="govuk-heading-m">1. Approach to market</h3>
<ul class="govuk-task-list">
  {% if (data['userType'] == 'procurement-operations') %}
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="stages/approach-to-market/handover-from-triage">
          Handover from Triage
        </a>
      </div>
      <div class="govuk-task-list__status">
        {% if (data['tagHandoverFromTriageStatus'] == "complete") %}
          <strong class="govuk-tag govuk-tag--green">Complete</strong>
        {% elseif (data['tagHandoverFromTriageStatus'] == "inProgress")%}
          <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
        {% else %}
          <strong class="govuk-tag govuk-tag--blue">Due: {{ data['handoverFromTriageStartDate'] }}
            -  {{ data['handoverFromTriageEndDate']}}  </strong>
        {% endif %}
      </div>
    </li>
  {% endif %}
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="stages/approach-to-market/discuss-requirements-and-route-to-market">
        Discuss requirements and route to market
      </a>
    </div>
    <div class="govuk-task-list__status">
      {% if (data['tagDiscussRequirementsAndRouteToMarketStatus'] == "complete") %}
        <strong class="govuk-tag govuk-tag--green">Complete</strong>
      {% elseif (data['tagDiscussRequirementsAndRouteToMarketStatus'] == "inProgress")%}
        <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
      {% else %}
        <strong class="govuk-tag govuk-tag--blue">Due: {{ data['discussRequirementsAndRouteToMarketStartDate'] }}
        - {{ data['discussRequirementsAndRouteToMarketEndDate'] }}  </strong>
      {% endif %}
    </div>
  </li>
  {% if (data['tagRecordRouteToMarketStatus'] == "overdue") %}
    <li class="govuk-task-list__item govuk-task-list__item--with-link govuk-form-group--error" id="record-route-to-market">
  {% else %}
    <li class="govuk-task-list__item govuk-task-list__item--with-link" id="record-route-to-market">
  {% endif %}
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="stages/approach-to-market/record-route-to-market-and-contract-value" aria-describedby="company-details-2-status">
          Record route to market and contract value
        </a>
      </div>
      <div class="govuk-task-list__status">
        {% if (data['tagRecordRouteToMarketAndContractValueStatus'] == "complete") %}
          <strong class="govuk-tag govuk-tag--green">Complete</strong>
        {% elseif (data['tagRecordRouteToMarketAndContractValueStatus'] == "inProgress")%}
          <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
        {% elseif (data['tagRecordRouteToMarketAndContractValueStatus'] == "overdue") %}
          <strong class="govuk-tag govuk-tag--red">Overdue</strong>
        {% else %}
          <strong class="govuk-tag govuk-tag--blue">Due: {{ data['recordRouteToMarketAndContractValueStartDate'] }}
            - {{ data['recordRouteToMarketAndContractValueEndDate'] }}  </strong>
        {% endif %}
      </div>
    </li>
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="stages/approach-to-market/set-procurement-timeline">
        Set procurement timeline
      </a>
    </div>
    <div class="govuk-task-list__status">
      {% if (data['tagSetProcurementTimelineStatus'] == "complete") %}
        <strong class="govuk-tag govuk-tag--green">Complete</strong>
      {% elseif (data['tagSetProcurementTimelineStatus'] == "inProgress")%}
        <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
      {% else %}
      <strong class="govuk-tag govuk-tag--blue">Due: {{ data['setProcurementTimelineStartDate'] }}
        - {{ data['setProcurementTimelineEndDate'] }}  </strong>
      {% endif %}
    </div>
  </li>
  {% if (data['userType'] == 'procurement-operations') %}
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="stages/approach-to-market/invite-school-users-to-portal">
          Invite school users to portal
        </a>
      </div>
      <div class="govuk-task-list__status">
        {% if (data['tagInviteSchoolUsersToPortalStatus'] == "complete") %}
          <strong class="govuk-tag govuk-tag--green">Complete</strong>
        {% elseif (data['tagInviteSchoolUsersToPortalStatus'] == "inProgress")%}
          <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
        {% else %}
          <strong class="govuk-tag govuk-tag--blue">Due: {{ data['inviteSchoolUsersToPortalStartDate'] }}
            - {{ data['inviteSchoolUsersToPortalEndDate'] }}  </strong>
        {% endif %}
      </div>
    </li>
  {% endif %}
  {% if (data['userType'] == 'procurement-operations') %}
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="stages/approach-to-market/create-procurement-risk-assessment">
          Create Procurement Risk Assessment Tool (PRAT)
        </a>
      </div>
      <div class="govuk-task-list__status">
        {% if (data['tagCreateRiskAssessmentStatus'] == "complete") %}
          <strong class="govuk-tag govuk-tag--green">Complete</strong>
        {% elseif (data['tagCreateRiskAssessmentStatus'] == "inProgress")%}
          <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
        {% else %}
          <strong class="govuk-tag govuk-tag--blue">Due: {{ data['createProcurementRiskAssessmentStartDate'] }}
            - {{ data['createProcurementRiskAssessmentEndDate'] }}  </strong>
        {% endif %}
      </div>
    </li>
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        {% if (data['tagContractValue'] == "No, its above the relevant threshold") %}
          <a class="govuk-link govuk-task-list__link" href="stages/approach-to-market/get-approval-for-next-stage">
            Get CAB approval
          </a>
        {% else %}
          Get CAB approval
        {% endif %}
      </div>
      <div class="govuk-task-list__status">
        {% if (data['tagContractValue'] == "Yes, its below the relevant threshold") %}
          <strong class="govuk-tag govuk-tag--grey">Not needed</strong>
        {% else %}
          {% if (data['tagGetApprovalForStage2Status'] == "complete") %}
            <strong class="govuk-tag govuk-tag--green">Complete</strong>
          {% elseif (data['tagGetApprovalForStage2Status'] == "inProgress")%}
            <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">Due: {{ data['getApprovalStartDate'] }}
              - {{ data['getApprovalEndDate'] }}  </strong>
          {% endif %}
        {% endif %}
      </div>
    </li>
  {% endif %}
</ul>
