//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here
// @import "dfe-frontend";
@import 'node_modules/dfe-frontend/packages/dfefrontend';
@import 'components/govuk-checkboxes-list';
@import 'components/govuk-hint';
@import 'components/govuk-summary-list';
@import 'components/govuk-tag';
@import 'components/govuk-task-list';
@import 'components/moj-button-menu';

.govuk-width-container, .dfe-width-container, .dfe-header__container, .dfe-header__navigation{
  max-width: 1200px !important;
}

// Use Inter font
@import url('https://rsms.me/inter/inter.css');
*{
  font-family: 'Inter', sans-serif !important;
}

// User Inter in tables (you need to apply the classes too)
.tableNumbers{
    font-feature-settings: 'tnum' 1, 'ss01' 1, 'zero' 1;
}
