<span class="govuk-caption-m">Complete on {{ data['resolveCaseOnCmsEndDate'] }}</span>
<h3 class="govuk-heading-m">4. Award contract</h3>
<ul class="govuk-task-list">
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">Observe 10 day standstill</div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--grey">{{ data['observe10DayStandstillStartDate'] }} - {{ data['observe10DayStandstillEndDate'] }}</strong>
    </div>
  </li>
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">Finalise call off contract</div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--grey">{{ data['finaliseCallOffContractStartDate'] }} - {{ data['finaliseCallOffContractEndDate'] }}</strong>
    </div>
  </li>
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">Send contract to school to sign with supplier</div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--grey">{{ data['sendContractToSchoolStartDate'] }} - {{ data['sendContractToSchoolEndDate'] }}</strong>
    </div>
  </li>
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">TUPE Information finalisation (Services only)</div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--grey">{{ data['tupeInformationStartDate'] }} - {{ data['tupeInformationEndDate'] }}</strong>
    </div>
  </li>
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">Update successful provider on award</div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--grey">{{ data['updateSuccessfulProviderStartDate'] }} - {{ data['updateSuccessfulProviderEndDate'] }}</strong>
    </div>
  </li>
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">Complete handover document</div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--grey">{{ data['completeHandoverDocumentStartDate'] }} - {{ data['completeHandoverDocumentEndDate'] }}</strong>
    </div>
  </li>
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">Record savings and finalise all
      details on CMS</div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--grey">{{ data['recordSavingsAndFinaliseCmsStartDate'] }} - {{ data['recordSavingsAndFinaliseCmsEndDate'] }}</strong>
    </div>
  </li>
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">Send FTS Contract Award notice
      via Jagger</div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--grey">{{ data['sendFtsContractAwardNoticeStartDate'] }} - {{ data['sendFtsContractAwardNoticeEndDate'] }}</strong>
    </div>
  </li>
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">Resolve case on CMS</div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--grey">{{ data['resolveCaseOnCmsStartDate'] }} - {{ data['resolveCaseOnCmsEndDate'] }}</strong>
    </div>
  </li>
</ul>
