{% extends "layouts/govuk-notify.html" %}

{% set pageName="Case {Insert Case Number} - invitation to participate in procurement process" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <p class="govuk-body">You have been invited to participate in the
            process for [Sub-category] procurement for [Organisation name]. </p>
          <p class="govuk-body govuk-!-font-weight-bold">Sign in to view tasks</p>
          <p class="govuk-body">Click the <a href="../../school-buyer/start" class="govuk-link" rel="noreferrer noopener" target="_blank">
            [login link]</a> and sign in with your DfE Sign-in
            account. If you do not have a DfE Sign-in account, you will need to
            create one.</p>
          <p class="govuk-body">From here you will be able to see all the tasks
            you will need to complete and the deadlines for each step.</p>
          <p class="govuk-body govuk-!-margin-top-9">[Case worker full name]</p>
          <p class="govuk-body">Procurement Specialist</p>
          <p class="govuk-body">Get help buying for schools</p>
          <p class="govuk-body">Reply to this email within 15 working days or by
            the date agreed. Late replies can delay the procurement process.</p>
          <p class="govuk-body">We'll close the case if we don't hear back from
            you. You can reopen the case at any time by replying to this
            email.</p>
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-9">GET HELP BUYING FOR SCHOOLS SERVICE DISCLAIMER</p>
          <p class="govuk-body govuk-!-font-weight-bold">Please note that the expertise and advice being
            provided by the Service shall not in any way affect your obligations
            to comply with all relevant procurement law and the Department's
            guidance, including but not limited to the Public Contracts
            Regulations, Academy Trust Handbook, ESFA Funding Agreement and the
            Schemes for Financing Local Authority Maintained schools.</p>
          <p class="govuk-body govuk-!-font-weight-bold">For the avoidance of doubt, the Department shall
            bear no liability as a result of using our Service.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
