{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Procurements</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="../procurement">004335 Catering
                  services</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Complete information
                  gathering</a>
              </li>
            </ol>
          </nav>
          <span class="govuk-caption-l">004335 - Multi academy trust</span>
          <h1 class="govuk-heading-l">Complete information gathering</h1>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="complete-information-gathering" method="post" novalidate>
            <h2 class="govuk-heading-m">Review information gathered</h2>
            <div for="file-upload-1" class="govuk-hint">
              <p class="govuk-body">Here is the information currently gathered.
                Replace old versions of documents if you have been asked to
                update them.</p>
            </div>
            <div class="govuk-form-group">
              <h3 class="govuk-heading-s">Uploaded documents</h3>
              <ul class="govuk-list">
                {% if (data['pageAction'] == 'uploadInformationGathering') %}
                  <li><a class="govuk-link" href="#">Information gathering v2.docx</a>
                    | <a class="govuk-link" href="#">delete <span class="govuk-visually-hidden">
                      information gathering.docx</span></a></li>
                  <li><a class="govuk-link" href="#">Requirements v3.xlsx</a>
                    | <a class="govuk-link" href="#">delete <span class="govuk-visually-hidden">
                      information gathering v3.xlsx</span></a></li>
                {% else %}
                  {% if (data['informationGatheringDeleted'] != 'true') %}
                    <li><a class="govuk-link" href="#">Information gathering.docx</a>
                      | <a class="govuk-link" href="complete-information-gathering?informationGatheringDeleted=true">delete <span class="govuk-visually-hidden">
                        information gathering.docx</span></a></li>
                  {% endif %}
                  {% if (data['requirementsDeleted'] != 'true') %}
                    <li><a class="govuk-link" href="#">Requirements v2.xlsx</a> |
                      <a class="govuk-link" href="complete-information-gathering?requirementsDeleted=true">delete <span class="govuk-visually-hidden">
                      Requirements v2.xlsx</span></a></li>
                  {% endif %}
                  {% if (data['requirementsDeleted'] == 'true' and data['informationGatheringDeleted'] == 'true') %}
                      No documents uploaded
                  {% endif %}
                {% endif %}
              </ul>
            </div>
            <div class="govuk-form-group">
              <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="pageAction" value="uploadInformationGathering">
                Upload file
              </button>
            </div>
            <div class="govuk-button-group">
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
              </button>
              <a class="govuk-link" href="../procurement">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
