{% extends "layouts/main.html" %}

{% set pageName="Refine specification with school" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Procurements</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="../procurement">004335
                  Catering services</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Refine specification
                  with school</a>
              </li>
            </ol>
          </nav>
          {% include "../../includes/case-identifiers.html" %}
          <h1 class="govuk-heading-l">Refine specification with school</h1>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="refine-specification-with-school" method="post" novalidate>
            <div class="govuk-form-group">
              <p class="govuk-body">Choose the correct <a href="#" class="govuk-link" target="_blank" rel="noopener noreferrer">
                SharePoint template (opens in new tab)</a>, and
                have check for legislation that will affect the procurement
                to ensure it is compliant.</p>
              <p class="govuk-body">If a the school has previously used this
                service then you should <a href="#" class="govuk-link" target="_blank" rel="noopener noreferrer">
                  review previous specifications saved in SharePoint (opens in
                  new tab)</a>.</p>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Help refining the specification
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <p class="govuk-body">Use the correct template in SharePoint
                    as a starting point then remove unnecessary sections.</p>
                  <p class="govuk-body">Set up a Teams call to discuss the
                    specification with the school. This is their opportunity to
                    detail all requirements. Consider if site visits are needed.
                  </p>
                  <p class="govuk-body">Interpret their needs and add them to
                    the specification in a compliant manner.</p>
                </div>
              </details>
            </div>
            <div class="govuk-form-group">
              <h2 class="govuk-heading-m">Actions</h2>
              <fieldset class="govuk-fieldset">
                <div class="govuk-checkboxes govuk-checkboxes__checklist" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="tagRefineSpecificationWithSchool-1" name="tagRefineSpecificationWithSchool" type="checkbox" value="Edit down template" {{ checked("tagRefineSpecificationWithSchool", "Edit down template") }}>
                    <label class="govuk-label govuk-checkboxes__label" for="tagRefineSpecificationWithSchool-1">
                      Edit down template
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="tagRefineSpecificationWithSchool-2" name="tagRefineSpecificationWithSchool" type="checkbox" value="Refine with school" {{ checked("tagRefineSpecificationWithSchool", "Refine with school") }}>
                    <label class="govuk-label govuk-checkboxes__label" for="tagRefineSpecificationWithSchool-2">
                      Refine with school
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="tagRefineSpecificationWithSchool-3" name="tagRefineSpecificationWithSchool" type="checkbox" value="Save final documents in SharePoint" {{ checked("tagRefineSpecificationWithSchool", "Save final documents in SharePoint") }}>
                    <label class="govuk-label govuk-checkboxes__label" for="tagRefineSpecificationWithSchool-3">
                      Save final documents in SharePoint
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item" style="display: none;">
                    <input class="govuk-checkboxes__input" id="tagRefineSpecificationWithSchool-0" name="tagRefineSpecificationWithSchool" type="checkbox" value="empty" checked="empty">
                    <label class="govuk-label govuk-checkboxes__label" for="tagRefineSpecificationWithSchool-0">
                      empty
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="govuk-button-group">
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Save and continue
              </button>
              <a class="govuk-link" href="call-off-document-preparation">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
