{% extends "layouts/main.html" %}

{% set pageName="Set pricing schedule" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Procurements</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="../procurement">004335
                  Catering services</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Set pricing schedule</a>
              </li>
            </ol>
          </nav>
          {% include "../../includes/case-identifiers.html" %}
          <h1 class="govuk-heading-l">Set pricing schedule</h1>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="set-pricing-schedule" method="post" novalidate>
            <div class="govuk-form-group">
              <p class="govuk-body">Select the correct <a href="#" class="govuk-link" target="_blank" rel="noopener noreferrer">
                pricing schedule template from SharePoint (opens in new tab)</a>,
                to create an itemised pricing schedule for the procurement.</p>
              <p class="govuk-body">If buying for multiple schools, each school
                should have its own tab on the pricing schedule.</p>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Help with creating the pricing schedule
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <p class="govuk-body">The pricing schedule is an itemised
                    list making up the total contract value.</p>
                  <p class="govuk-body">Make sure you think about longer term
                    costs associated with this procurement, such as:</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>On-going support</li>
                    <li>Call-out costs for technicians and engineers</li>
                    <li>Spare parts and replacements</li>
                  </ul>
                </div>
              </details>
            </div>
            <div class="govuk-form-group">
              <h2 class="govuk-heading-m">Actions</h2>
              <fieldset class="govuk-fieldset">
                <div class="govuk-checkboxes govuk-checkboxes__checklist" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="tagSetPricingSchedule-1" name="tagSetPricingSchedule" type="checkbox" value="Create pricing schedule" {{ checked("tagSetPricingSchedule", "Create pricing schedule") }}>
                    <label class="govuk-label govuk-checkboxes__label" for="tagSetPricingSchedule-1">
                      Create pricing schedule
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="tagSetPricingSchedule-2" name="tagSetPricingSchedule" type="checkbox" value="Refine pricing schedule with school" {{ checked("tagSetPricingSchedule", "Refine pricing schedule with school") }}>
                    <label class="govuk-label govuk-checkboxes__label" for="tagSetPricingSchedule-2">
                      Refine pricing schedule with school
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="tagSetPricingSchedule-3" name="tagSetPricingSchedule" type="checkbox" value="Agree pricing schedule with school" {{ checked("tagSetPricingSchedule", "Agree pricing schedule with school") }}>
                    <label class="govuk-label govuk-checkboxes__label" for="tagSetPricingSchedule-3">
                      Agree pricing schedule with school
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="tagSetPricingSchedule-4" name="tagSetPricingSchedule" type="checkbox" value="Save pricing schedule to SharePoint" {{ checked("tagSetPricingSchedule", "Save pricing schedule to SharePoint") }}>
                    <label class="govuk-label govuk-checkboxes__label" for="tagSetPricingSchedule-4">
                      Save pricing schedule to SharePoint
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item" style="display: none;">
                    <input class="govuk-checkboxes__input" id="tagSetPricingSchedule-0" name="tagSetPricingSchedule" type="checkbox" value="empty" checked="empty">
                    <label class="govuk-label govuk-checkboxes__label" for="tagSetPricingSchedule-0">
                      empty
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="govuk-button-group">
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Save and continue
              </button>
              <a class="govuk-link" href="call-off-document-preparation">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
