{% extends "layouts/main.html" %}

{% set pageName="Catering services Multi academy trust 004335" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Procurements</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">004335 Catering
                  services</a>
              </li>
            </ol>
          </nav>
          <span class="govuk-caption-l">004335 - Multi academy trust</span>
          <h1 class="govuk-heading-l">Catering Services</h1>
          {% include "../includes/key-procurement-info.html" %}
        </div>
        <div class="govuk-grid-column-one-quarter" style="text-align: right;">
          <div class="moj-button-menu" data-module="moj-button-menu" data-button-text="Actions" data-button-classes="govuk-button--secondary" data-align-menu="right">
            <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">
              Add a case note</a>
            <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">
              Move emails to existing case</a>
            <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">
              Change case owner</a>
            <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">
              Log contact with school</a>
            <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">
              Place on hold</a>
            <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">
              Resolve case</a>
            <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">
              Reject case</a>
          </div>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <nav class="moj-sub-navigation" aria-label="Sub navigation">
            <ul class="moj-sub-navigation__list">
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" aria-current="page" href="#">
                  Task list</a>
              </li>
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="#">School details</a>
              </li>
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="#">Case details</a>
              </li>
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="#">Request</a>
              </li>
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="#">Messages</a>
              </li>
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="#">Contacts</a>
              </li>
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="#">History</a>
              </li>
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="#">Attachments</a>
              </li>
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="#">Files</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Procurement task list</h2>
          <h3 class="govuk-heading-m">1. Approach to market</h3>
          <ul class="govuk-task-list">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link" href="approach-to-market/complete-information-gathering" aria-describedby="company-details-1-status">
                  Complete information gathering
                </a>
              </div>
              <div class="govuk-task-list__status">
                {% if (data['tagCompleteInformationGatheringStatus'] == "complete") %}
                  <strong class="govuk-tag govuk-tag--green">Complete</strong>
                {% elseif (data['tagCompleteInformationGatheringStatus'] == "inProgress")%}
                  <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
                {% else %}
                  <strong class="govuk-tag govuk-tag--blue">To do</strong>
                {% endif %}
              </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link" href="approach-to-market/record-route-to-market" aria-describedby="company-details-2-status">
                  Record route to market
                </a>
              </div>
              <div class="govuk-task-list__status">
                {% if (data['tagRecordRouteToMarketStatus'] == "complete") %}
                  <strong class="govuk-tag govuk-tag--green">Complete</strong>
                {% elseif (data['tagRecordRouteToMarketStatus'] == "inProgress")%}
                  <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
                {% else %}
                  <strong class="govuk-tag govuk-tag--blue">To do</strong>
                {% endif %}
              </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link" href="approach-to-market/get-approval-for-next-stage" aria-describedby="company-details-4-status">
                  Get approval for next stage
                </a>
              </div>
              <div class="govuk-task-list__status" id="company-details-4-status">
                {% if (data['tagCompleteInformationGatheringStatus'] == "complete" and data['tagRecordRouteToMarketStatus'] == "complete") %}
                  {% if (data['tagGetApprovalForStage2Status'] == "complete") %}
                    <strong class="govuk-tag govuk-tag--green">Complete</strong>
                  {% elseif (data['tagGetApprovalForStage2Status'] == "inProgress")%}
                    <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
                  {% else %}
                    <strong class="govuk-tag govuk-tag--blue">To do</strong>
                  {% endif %}
                {% else %}
                  <strong class="govuk-tag govuk-tag--grey">Cannot start</strong>
                {% endif %}
              </div>
            </li>
          </ul>
          <h3 class="govuk-heading-m">2. Prepare and go to market</h3>
          <ul class="govuk-task-list">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link" href="#TODO" aria-describedby="company-details-1-status">
                  Prepare documents
                </a>
              </div>
              <div class="govuk-task-list__status">
                #TODO
              </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link" href="#TODO" aria-describedby="company-details-2-status">
                  Approve documents
                </a>
              </div>
              <div class="govuk-task-list__status">
                #TODO
              </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link" href="#TODO" aria-describedby="company-details-4-status">
                  Go to market
                </a>
              </div>
              <div class="govuk-task-list__status" id="company-details-4-status">
                #TODO
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
