{% extends "layouts/main.html" %}

{% set pageName="Publish call off to competition" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Procurements</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="../procurement">004335
                  Catering services</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Publish call off to
                  competition</a>
              </li>
            </ol>
          </nav>
          {% include "../../includes/case-identifiers.html" %}
          <h1 class="govuk-heading-l">Publish call off to competition</h1>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="publish-call-off-to-competition" method="post" novalidate>
            <div class="govuk-form-group">
              <p class="govuk-body">Publish the tender on the appropriate
                procurement portal. Ensure the whole pack is shared and all
                suppliers on the framework are notified.</p>
              <p class="govuk-body">You will need to monitor emails for questions
                from suppliers and liase with the school to answer them on the
                portal.</p>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">Help publishing call off
                  to competition</summary>
                <div class="govuk-details__text">
                  <p class="govuk-body">When publishing on a 3rd part tender
                    website there should be an option to notify all suppliers.</p>
                  <p class="govuk-body">Any questions or requests for site
                    visits should trigger a notification. Liase with the school
                    to answer questions and post answers on the portal for all
                    suppliers to see.</p>
                  <p class="govuk-body">If applicable, you may want to arrange
                    some dates for school visits ahead of time.</p>
                  <p class="govuk-body">When choosing the publication's duration
                    consider how much information suppliers need to digest.
                    Complex procurements may need more time. It is recommended
                    that suppliers are given at least 20 days for service
                    procurements.</p>
                </div>
              </details>
            </div>
            <div class="govuk-form-group">
              <h2 class="govuk-heading-m">Actions</h2>
              <fieldset class="govuk-fieldset">
                <div class="govuk-checkboxes govuk-checkboxes__checklist" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="tagPublishCallOffToCompetition-1" name="tagPublishCallOffToCompetition" type="checkbox" value="Publish on appropriate portal" {{ checked("tagPublishCallOffToCompetition", "Publish on appropriate portal") }}>
                    <label class="govuk-label govuk-checkboxes__label" for="tagPublishCallOffToCompetition-1">
                      Publish on appropriate portal
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item" style="display: none;">
                    <input class="govuk-checkboxes__input" id="tagPublishCallOffToCompetition-0" name="tagPublishCallOffToCompetition" type="checkbox" value="empty" checked="empty">
                    <label class="govuk-label govuk-checkboxes__label" for="tagPublishCallOffToCompetition-0">
                      empty
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="govuk-button-group">
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
              </button>
              <a class="govuk-link" href="call-off-document-preparation">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
