{% extends "layouts/school-buyer.html" %}

{% set pageName="Catering services 004335" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Procurements</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">004335 Catering
                  services</a>
              </li>
            </ol>
          </nav>
          {% include "../includes/case-identifiers.html" %}
          <h1 class="govuk-heading-l">Catering Services</h1>
          {% include "../includes/key-procurement-info.html" %}
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Procurement task list</h2>
          {% include "../includes/stage-1.html" %}
          {% include "../includes/stage-2.html" %}
          {% include "../includes/stage-3.html" %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
