{% extends "layouts/main.html" %}

{% set pageName="Complete information gathering" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Procurements</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="../procurement">004335 Catering
                  services</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Complete information
                  gathering</a>
              </li>
            </ol>
          </nav>
          {% include "../../includes/case-identifiers.html" %}
          <h1 class="govuk-heading-l">Complete information gathering</h1>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="complete-information-gathering" method="post" novalidate>
            <h2 class="govuk-heading-m"  >Review information gathered</h2>
            <div for="file-upload-1" class="govuk-hint">
              <p class="govuk-body">Check the information gathered to
                ensure that you have enough information to start the procurement.
                Use the requirements document to gather information that may be
                missing, you may also want to share the quality and scoring
                criteria document now.</p>
              <p class="govuk-body">Replace old versions of documents with new
                ones when they are received.</p>
            </div>
            <div class="govuk-form-group">
              <h3 class="govuk-heading-s">Uploaded documents</h3>
              <ul class="govuk-list">
                {% if (data['pageAction'] == 'uploadInformationGathering') %}
                  <li><a class="govuk-link" href="#">Information gathering v2.docx</a>
                    | <a class="govuk-link" href="#">delete <span class="govuk-visually-hidden">
                      information gathering.docx</span></a></li>
                  <li><a class="govuk-link" href="#">Requirements v3.xlsx</a>
                    | <a class="govuk-link" href="#">delete <span class="govuk-visually-hidden">
                      information gathering v3.xlsx</span></a></li>
                {% else %}
                  {% if (data['informationGatheringDeleted'] != 'true') %}
                    <li><a class="govuk-link" href="#">Information gathering.docx</a>
                      | <a class="govuk-link" href="complete-information-gathering?informationGatheringDeleted=true">delete <span class="govuk-visually-hidden">
                        information gathering.docx</span></a></li>
                  {% endif %}
                  {% if (data['requirementsDeleted'] != 'true') %}
                    <li><a class="govuk-link" href="#">Requirements v2.xlsx</a> |
                      <a class="govuk-link" href="complete-information-gathering?requirementsDeleted=true">delete <span class="govuk-visually-hidden">
                      Requirements v2.xlsx</span></a></li>
                  {% endif %}
                  {% if (data['requirementsDeleted'] == 'true' and data['informationGatheringDeleted'] == 'true') %}
                      No documents uploaded
                  {% endif %}
                {% endif %}
              </ul>
            </div>
            <div class="govuk-form-group">
              <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="pageAction" value="uploadInformationGathering">
                Upload file
              </button>
            </div>
            <div class="govuk-form-group">
              <h2 class="govuk-heading-m">Actions</h2>
              <fieldset class="govuk-fieldset">
                <div class="govuk-checkboxes govuk-checkboxes__checklist" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="tagCompleteInformationGathering" name="tagCompleteInformationGathering" type="checkbox" value="Review information gathered during triage" {{ checked("tagCompleteInformationGathering", "Review information gathered during triage") }}>
                    <label class="govuk-label govuk-checkboxes__label" for="tagCompleteInformationGathering">
                      Review information gathered during triage
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="tagCompleteInformationGathering-3" name="tagCompleteInformationGathering" type="checkbox" value="Share requirements document with school" {{ checked("tagCompleteInformationGathering", "Share requirements document with school") }}>
                    <label class="govuk-label govuk-checkboxes__label" for="tagCompleteInformationGathering-3">
                      Share requirements document with school
                    </label>
                    <div class="govuk-checkboxes__guidance">
                      <div for="tagCompleteInformationGathering-3" class="govuk-hint">
                        Upload the relevant requirement documents to share with
                        the school. Several versions may be worked on before you
                        chose to approve it.
                      </div>
                    </div>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="tagCompleteInformationGathering-4" name="tagCompleteInformationGathering" type="checkbox" value="Approve requirements document" {{ checked("tagCompleteInformationGathering", "Approve requirements document") }}>
                    <label class="govuk-label govuk-checkboxes__label" for="tagCompleteInformationGathering-4">
                      Approve requirements document
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item" style="display: none;">
                    <input class="govuk-checkboxes__input" id="tagCompleteInformationGathering-0" name="tagCompleteInformationGathering" type="checkbox" value="empty" checked="empty">
                    <label class="govuk-label govuk-checkboxes__label" for="tagCompleteInformationGathering-0">
                      empty
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="govuk-button-group">
              <button type="submit" class="govuk-button" data-module="govuk-button" name="pageAction" value="continue">
                Continue
              </button>
              <a class="govuk-link" href="../../procurement">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
