<span class="govuk-caption-m">Due {{ "today" | duration(7, "months") | govukDate }}</span>
<h3 class="govuk-heading-m">4. Award contract</h3>
<ul class="govuk-task-list">
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="#">
        10 day standstill</a>
    </div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--grey">Cannot start</strong>
    </div>
  </li>
  {% if (data['userType'] == 'procurement-operations') %}
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#">
          Create contracts</a>
      </div>
      <div class="govuk-task-list__status">
        <strong class="govuk-tag govuk-tag--grey">Cannot start</strong>
      </div>
    </li>
  {% endif %}
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="#">
        Complete handover documentation
      </a>
    </div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--grey">Cannot start</strong>
    </div>
  </li>
  {% if (data['userType'] == 'procurement-operations') %}
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#">
          Regulation 84, Framework provider notice and CMS savings
        </a>
      </div>
      <div class="govuk-task-list__status">
        <strong class="govuk-tag govuk-tag--grey">Cannot start</strong>
      </div>
    </li>
  {% endif %}
</ul>
