<span class="govuk-caption-m">Due {{ "today" | duration(7, "months") | govukDate("truncate") }}</span>
<h3 class="govuk-heading-m">4. Award contract</h3>
<ul class="govuk-task-list">
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">Observe 10 day standstill</div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--grey">{{ "today" | duration(88) | govukDate("truncate") }} - {{ "today" | duration(100) | govukDate("truncate") }}</strong>
    </div>
  </li>
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">Finalise call off contract</div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--grey">{{ "today" | duration(100) | govukDate("truncate") }} - {{ "today" | duration(105) | govukDate("truncate") }}</strong>
    </div>
  </li>
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">Send contract to school to sign with supplier</div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--grey">{{ "today" | duration(105) | govukDate("truncate") }} - {{ "today" | duration(106) | govukDate("truncate") }}</strong>
    </div>
  </li>
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">TUPE Information finalisation (Services only)</div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--grey">{{ "today" | duration(106) | govukDate("truncate") }} - {{ "today" | duration(134) | govukDate("truncate") }}</strong>
    </div>
  </li>
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">Update successful provider on award</div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--grey">{{ "today" | duration(134) | govukDate("truncate") }} - {{ "today" | duration(135) | govukDate("truncate") }}</strong>
    </div>
  </li>
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">Complete handover document</div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--grey">{{ "today" | duration(135) | govukDate("truncate") }} - {{ "today" | duration(137) | govukDate("truncate") }}</strong>
    </div>
  </li>
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">Record savings and finalise all
      details on CMS</div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--grey">{{ "today" | duration(137) | govukDate("truncate") }} - {{ "today" | duration(138) | govukDate("truncate") }}</strong>
    </div>
  </li>
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">Send FTS Contract Award notice
      via Jagger</div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--grey">{{ "today" | duration(138) | govukDate("truncate") }} - {{ "today" | duration(158) | govukDate("truncate") }}</strong>
    </div>
  </li>
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">Resolve case on CMS</div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--grey">{{ "today" | duration(158) | govukDate("truncate") }} - {{ "today" | duration(159) | govukDate("truncate") }}</strong>
    </div>
  </li>
</ul>
