<span class="govuk-caption-m">Due {{ "today" | duration(5, "months") | govukDate }}</span>
<h3 class="govuk-heading-m">3. Decide</h3>
<ul class="govuk-task-list">
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="#">
        Advertise tender</a>
    </div>
    <div class="govuk-task-list__status">
      {% if (data['tagCompleteInformationGatheringStatus'] == "complete") %}
        <strong class="govuk-tag govuk-tag--green">Complete</strong>
      {% elseif (data['tagCompleteInformationGatheringStatus'] == "inProgress")%}
        <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
      {% else %}
        <strong class="govuk-tag govuk-tag--blue">To do</strong>
      {% endif %}
    </div>
  </li>
  {% if (data['userType'] == 'procurement-operations') %}
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#">
          Check compliance</a>
      </div>
      <div class="govuk-task-list__status">
        {% if (data['tagInviteTheSchoolLeadStatus'] == "complete") %}
          <strong class="govuk-tag govuk-tag--green">Complete</strong>
        {% elseif (data['tagInviteTheSchoolLeadStatus'] == "inProgress")%}
          <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
        {% else %}
          <strong class="govuk-tag govuk-tag--blue">To do</strong>
        {% endif %}
      </div>
    </li>
  {% endif %}
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="#">
        Evaluate tenders
      </a>
    </div>
    <div class="govuk-task-list__status">
      {% if (data['tagRecordRouteToMarketStatus'] == "complete") %}
      <strong class="govuk-tag govuk-tag--green">Complete</strong>
      {% elseif (data['tagRecordRouteToMarketStatus'] == "inProgress")%}
      <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
      {% else %}
      <strong class="govuk-tag govuk-tag--blue">To do</strong>
      {% endif %}
    </div>
  </li>
  {% if (data['userType'] == 'procurement-operations') %}
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#">
          Moderation meeting
        </a>
      </div>
      <div class="govuk-task-list__status">
        {% if (data['tagCheckCostThresholdStatus'] == "complete") %}
          <strong class="govuk-tag govuk-tag--green">Complete</strong>
        {% elseif (data['tagCheckCostThresholdStatus'] == "inProgress")%}
          <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
        {% else %}
          <strong class="govuk-tag govuk-tag--blue">To do</strong>
        {% endif %}
      </div>
    </li>
  {% endif %}
  {% if (data['userType'] == 'procurement-operations') %}
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#">
          CAB approval</a>
      </div>
      <div class="govuk-task-list__status">
        {% if (data['tagCabApprovalNonDfeDealFrameworkStatus'] == "complete") %}
          <strong class="govuk-tag govuk-tag--green">Complete</strong>
        {% elseif (data['tagCabApprovalNonDfeDealFrameworkStatus'] == "inProgress")%}
          <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
        {% else %}
          <strong class="govuk-tag govuk-tag--blue">To do</strong>
        {% endif %}
      </div>
    </li>
  {% endif %}
  {% if (data['userType'] == 'procurement-operations') %}
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#">
          Send award letters
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-4-status">
        {% if (data['stage1ApprovalBlocked'] == "true") %}
          <strong class="govuk-tag govuk-tag--grey">Cannot start</strong>
        {% else %}
          {% if (data['tagGetApprovalForStage2Status'] == "complete") %}
            <strong class="govuk-tag govuk-tag--green">Complete</strong>
          {% elseif (data['tagGetApprovalForStage2Status'] == "inProgress")%}
            <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">To do</strong>
          {% endif %}
        {% endif %}
      </div>
    </li>
  {% endif %}
</ul>
