{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">004335 - Multi academy trust</span>
      <h1 class="govuk-heading-l">Catering Services</h1>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Procurement ID
          </dt>
          <dd class="govuk-summary-list__value">
            004335
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Main contact
          </dt>
          <dd class="govuk-summary-list__value">
            Marissa Dale
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Organisation
          </dt>
          <dd class="govuk-summary-list__value">
            Bueller Trust
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Target end date
          </dt>
          <dd class="govuk-summary-list__value">
            25 July 2026
          </dd>
        </div>
      </dl>
    </div>
  </div>
{% endblock %}
