{% extends "layouts/main.html" %}

{% set pageName="Complete procurement evaluation" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <h1 class="govuk-heading-xl">Complete procurement evaluation</h1>
        <p class="govuk-body">Use this service to complete the supplier evaluation
          stage of the procurement. You will be able to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>view bids from potential suppliers</li>
          <li>evaluate bids using a pre-populated evaluation sheet</li>
          <li>complete the evaluation tasks</li>
        </ul>
        <p class="govuk-body">Before starting the evaluation, you must complete
          the declaration of interest form attached to the email inviting you to
          complete the procurement evaluation.</p>
        <p class="govuk-body">You can watch the <a href="https://www.youtube.com.mcas.ms/watch?v=cbL65QlOas4" class="govuk-link" rel="noreferrer noopener" target="_blank">
          Evaluation Guidance training video on YouTube (opens in new tab)</a>.
        </p>
        <p class="govuk-body">Bids must be evaluated independently of each other
          and other evaluators.</p>
        <p class="govuk-body">Insufficient justification for scores will result
          in evaluations being returned, which could delay the procurement.</p>
      </div>
      <div class="govuk-form-group">
        <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
