{% extends "layouts/main.html" %}

{% set pageName="Complete information gathering" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Procurements</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="../procurement">004335 Catering
                  services</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Complete information
                  gathering</a>
              </li>
            </ol>
          </nav>
          <span class="govuk-caption-l">004335 - Multi academy trust</span>
          <h1 class="govuk-heading-l">Get approval for next stage</h1>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="get-approval-for-next-stage" method="post" novalidate>
            <div class="govuk-form-group">
              <h2 class="govuk-heading-m">Actions</h2>
              <fieldset class="govuk-fieldset">
                <div class="govuk-checkboxes govuk-checkboxes__checklist" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="tagGetApprovalForStage2" name="tagGetApprovalForStage2" type="checkbox" value="Granted approval to proceed" {{ checked("tagGetApprovalForStage2", "Granted approval to proceed") }}>
                    <label class="govuk-label govuk-checkboxes__label" for="tagGetApprovalForStage2">
                      Granted approval to proceed
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item" style="display: none;">
                    <input class="govuk-checkboxes__input" id="tagGetApprovalForStage2-0" name="tagGetApprovalForStage2" type="checkbox" value="empty" checked="empty">
                    <label class="govuk-label govuk-checkboxes__label" for="tagGetApprovalForStage2-0">
                      empty
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="govuk-button-group">
              {% if (data['stage1ApprovalBlocked'] == "true") %}
                <button type="submit" disabled aria-disabled="true" class="govuk-button" data-module="govuk-button" name="pageAction" value="continue">
                  Continue
                </button>
              {% else %}
                <button type="submit" class="govuk-button" data-module="govuk-button" name="pageAction" value="continue">
                  Continue
                </button>
              {% endif %}
              <a class="govuk-link" href="../procurement">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
