{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Get help buying for schools</h1>
      <h2 class="govuk-heading-m">v1 Support GOV and DfE branding</h2>
      <p><a class="govuk-link" href="v1/internal/start">Internal users</a> |
        <a class="govuk-link" href="v1/external/start">External users</a> </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Setup DfE branding for school users</li>
      </ul>
      <h2 class="govuk-heading-m">Initial set up</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Setup new prototype</li>
        <li><a href="https://ghbs-school-collab-00eef3757e79.herokuapp.com/">Push live to heroku</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
