{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Get help buying for schools</h1>
      <h2 class="govuk-heading-m">V8 School view of stage 1</h2>
      <p><a class="govuk-link" href="v8/procurement?branding=DfE&userType=procurement-operations&navSelected=My%20cases">Procurement operations</a> |
        <a class="govuk-link" href="v8/sign-in?branding=DfE&userType=school-buyer&navSelected=My%20cases">School buyer portal</a> |
        <a class="govuk-link" href="v8/emails/school-buyer/invite-to-portal?branding=DfE&userType=school-buyer&navSelected=My%20cases">School buyer email</a> |
        <a class="govuk-link" href="v8/artefacts/evaluator-login?branding=DfE&userType=school-buyer&navSelected=My%20cases">Evaluator login</a></p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://dfedigital.atlassian.net/browse/SC-316" class="govuk-link">
            Tidy up school navigation (opens in new tab)</a>
            - this work rationalises the school navigation so that it reflects
            the current things we think school users will do.</li>
          <li><a href="https://dfedigital.atlassian.net/browse/SC-299" class="govuk-link">
            Make stage 1 school buying professional task list (opens in new tab)</a>
            - this work makes a workable stage 1 task list for the school buyer.
            it focuses on reusable pages and views to minimise code.</li>
          <li><a href="https://dfedigital.atlassian.net/browse/SC-304" class="govuk-link">
            Stage 1 and 2 content updates (opens in new tab)</a>
            - Changes following a run through with Stacey Speakman, a
            co-design with Julie Batey and a chat with Hannah Mears about
            thresholds.</li>
          <li><a href="https://dfedigital.atlassian.net/browse/SC-295" class="govuk-link">
            Prototype hosts templates (opens in new tab)</a>
            - we have assumed the prototype will host templates, but not pulled
            them in. This work is to host all templates and work out how we
            could let users maintain them.</li>
          <li>Increment prototype to v8</li>
        </ul>
      <h2 class="govuk-heading-m">V7 Content changes for user research</h2>
      <p><a class="govuk-link" href="v7/procurement-operations/procurement?branding=DfE&userType=procurement-operations">Procurement operations</a> |
        <a class="govuk-link" href="v7/school-buyer/procurement?branding=DfE&userType=school-buyer">School buyer portal</a> |
        <a class="govuk-link" href="v7/emails/school-buyer/invite-to-portal?branding=DfE&userType=school-buyer">School buyer email</a> |
        <a class="govuk-link" href="v7/artefacts/evaluator-login?branding=DfE&userType=school-buyer">Evaluator login</a></p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://dfedigital.atlassian.net/browse/SC-296" class="govuk-link">
            Refine down stage 1 (opens in new tab)</a>
            - in the co-design session we identified some tasks that can be
            combined and removed.</li>
          <li>Add in new content for the prepare and go to market stage</li>
          <li>Increment prototype to v7</li>
        </ul>
      <h2 class="govuk-heading-m">V6 co-design of stage 2</h2>
      <p><a class="govuk-link" href="v6/procurement-operations/procurement?branding=DfE&userType=procurement-operations">Procurement operations</a> |
        <a class="govuk-link" href="v6/school-buyer/procurement?branding=DfE&userType=school-buyer">School buyer portal</a> |
        <a class="govuk-link" href="v6/emails/school-buyer/invite-to-portal?branding=DfE&userType=school-buyer">School buyer email</a> |
        <a class="govuk-link" href="v6/artefacts/evaluator-login?branding=DfE&userType=school-buyer">Evaluator login</a></p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://dfedigital.atlassian.net/browse/SC-195" class="govuk-link">
            Co-design of stage 2 (opens in new tab)</a>
            - using sub tasks to associate all the document preparation tasks
            within stage 2. Approval is separate, for DfE then schools</li>
          <li><a href="https://dfedigital.atlassian.net/browse/SC-282" class="govuk-link">
            Refining Stage 1 task list (opens in new tab)</a>
            - including changes to the combined CAB/G7 stage when cost
            threshold task has not been completed and changing an action
            in research frameworks that it can still be answered on a
            level 5 procurement.</li>
          <li>Increment prototype to v6</li>
        </ul>
      <h2 class="govuk-heading-m">V5 co-design of stage 1</h2>
      <p><a class="govuk-link" href="v5/procurement-operations/procurement?branding=DfE&userType=procurement-operations">Procurement operations</a> |
        <a class="govuk-link" href="v5/school-buyer/procurement?branding=DfE&userType=school-buyer">School buyer portal</a> |
        <a class="govuk-link" href="v5/emails/school-buyer/invite-to-portal?branding=DfE&userType=school-buyer">School buyer email</a> |
        <a class="govuk-link" href="v5/artefacts/evaluator-login?branding=DfE&userType=school-buyer">Evaluator login</a></p>
        <ul class="govuk-list govuk-list--bullet">
        <li><a href="v5/procurement-operations/date-view" class="govuk-link">
          Procurement operations can easily maintain dates (opens in new tab)</a>
          - exploring ways to allow them to understand tasks and dates, so that
          they can make them work across multiple procurements.</li>
        <li>Update content for stage 1 part 2 tasks</li>
        <li>Add in updated content to stage 1 part 1 tasks</li>
        <li><a href="https://dfedigital.atlassian.net/browse/SC-222" class="govuk-link" rel="noreferrer noopener" target="_blank">
          Co-design of stage 1 (opens in new tab)</a> - adding in
          tasks and actions</li>
        <li>Increment prototype to v5</li>
      </ul>
      <h2 class="govuk-heading-m">V4 Improving capturing and sharing dates</h2>
      <p><a class="govuk-link" href="v4/procurement-operations/procurement?branding=DfE&userType=procurement-operations">Procurement operations</a> |
        <a class="govuk-link" href="v4/school-buyer/procurement?branding=DfE&userType=school-buyer">School buyer portal</a> |
        <a class="govuk-link" href="v4/emails/school-buyer/invite-to-portal?branding=DfE&userType=school-buyer">School buyer email</a> |
        <a class="govuk-link" href="v4/artefacts/evaluator-login?branding=DfE&userType=school-buyer">Evaluator login</a></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Show some over due tasks so that they can be resolved. Show date
          ranges, add change date page. Use error summary and messages to
          highlight when overdue.</li>
        <li><a href="https://educationgovuk.sharepoint.com/:x:/r/sites/lvedfe00098/Lib21/03%20Product%20Documentation/01%20GHBS%20Service%20Public%20Beta%202023-2024/2023-2024%20Q4-Q1%20School%20Collaboration/Analysis%26Design/ReferenceMaterials/timeline%20creation%20templates%20and%20examples/Project%20Plans%20-%20WIP%20Mar%2024.xlsx?d=web74f7c3ae21482b8ce56362933ff3ce&csf=1&web=1&e=zz9qCO9" class="govuk-link" rel="noreferrer noopener" target="_blank">
          Add in tasks based on March 2024 Project plan (opens in new tab)</a></li>
        <li><a href="https://dfedigital.atlassian.net/browse/SC-169" class="govuk-link" rel="noreferrer noopener" target="_blank">
          Task list shows dates (opens in new tab)</a></li>
        <li>Increment prototype to v4</li>
      </ul>
      <h2 class="govuk-heading-m">V3 Inviting the first user to the task list</h2>
      <p><a class="govuk-link" href="v3/procurement-operations/procurement?branding=DfE&userType=procurement-operations">Procurement operations</a> |
        <a class="govuk-link" href="v3/school-buyer/procurement?branding=DfE&userType=school-buyer">School buyer portal</a> |
        <a class="govuk-link" href="v3/emails/school-buyer/invite-to-portal?branding=DfE&userType=school-buyer">School buyer email</a> |
        <a class="govuk-link" href="v3/artefacts/evaluator-login?branding=DfE&userType=school-buyer">Evaluator login</a></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Add placeholder tasks for stage 3 and for to the task list</li>
        <li>Add a unified footer that is consistent with Find a buying solution
          and other services in this space</li>
        <li>Add email invite school user email template</li>
        <li>Move school identifies to include and add realistic data</li>
        <li>Invite task that invites the first school user to the portal</li>
        <li>Add start page for evaluators</li>
        <li>Increment prototype to v3</li>
      </ul>
      <h2 class="govuk-heading-m">V2 Recording route to market</h2>
      <p><a class="govuk-link" href="v2/procurement-operations/procurement?branding=DfE&userType=procurement-operations">Procurement operations</a> |
        <a class="govuk-link" href="v2/school-buyer/procurement?branding=DfE&userType=school-buyer">School buyer</a></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Add route to market in Stage 1 that replicates options from the
          live case management system.</li>
        <li>Picking a route to market changes a placeholder task in stage 2</li>
        <li>Procurement operations can complete the route to market task, but
          school users can only view the answers as statements</li>
        <li>Stage 1 approval task can be done when the preceding tasks are
          complete</li>
        <li>Stage 2 unlocks when stage 1 is approved</li>
        <li>Add task to indicate if the procurement is above the threshold,
          if so then show the additional check before going to market</li>
        <li>Direct awarded become Non-DfE deal or framework</li>
        <li>Task lists move to includes files</li>
      </ul>
      <h2 class="govuk-heading-m">V2 Fixing bugs</h2>
      <p><a class="govuk-link" href="v2/procurement-operations/procurement?branding=DfE&userType=procurement-operations">Procurement operations</a> |
        <a class="govuk-link" href="v2/school-buyer/procurement?branding=DfE&userType=school-buyer">School buyer</a></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>when clicking the continue button on the information gathering task
          you will no longer be incorrectly redirected to the file upload page</li>
        <li>when uploading a file you will now be returned to the task page, not
          the task list</li>
        <li>Cancel buttons work</li>
        <li>pages have more sensible titles (show in the tab description)</li>
        <li>when logged in a procurement operations person the sub nav now shows
          all current tabs (but you cannot click into them yet)</li>
      </ul>
      <h2 class="govuk-heading-m">V1 How might we request information from schools?
        </h2>
      <p><a class="govuk-link" href="v1/procurement-operations/procurement?branding=DfE&userType=procurement-operations">Procurement operations</a> |
        <a class="govuk-link" href="v1/school-buyer/procurement?branding=DfE&userType=school-buyer">School buyer</a></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Show key procurement information</li>
        <li>Prototype handles procurement operations and school buyers</li>
        <li>different user types can now see different task lists (e.g. one can
          have less items than another or different items)</li>
        <li>different users can see different content for shared tasks</li>
        <li>task statuses for common tasks are shared between users (e.g.
          procurement operations tick all the steps to indicate something is
          done and school users can also see the task marked as done)</li>
        <li>removed some of the steps Julie said would come later</li>
        <li>it also tries to strike the balance mentioned on the gateway call
          around suggesting good practice and giving and indication of what to
          do without teaching people to suck eggs</li>
      </ul>
      <h2 class="govuk-heading-m">v1 Support GOV and DfE branding</h2>
      <p><a class="govuk-link" href="v1/start?branding=DfE">External users</a> |
        <a class="govuk-link" href="v1/start?branding=GOVUK">Internal users</a> </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Setup DfE branding for school users</li>
      </ul>
      <h2 class="govuk-heading-m">Initial set up</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Setup new prototype</li>
        <li><a href="https://ghbs-school-collab-00eef3757e79.herokuapp.com/">Push live to heroku</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
