{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Get help buying for schools</h1>
      <h2 class="govuk-heading-m">V1 How might we request information from schools?
        </h2>
      <p><a class="govuk-link" href="v1/procurement-operations/procurement?branding=DfE&userType=procurement-operations">Procurement operations</a> |
        <a class="govuk-link" href="v1/school-buyer/procurement?branding=DfE&userType=school-buyer">School buyer</a></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Show key procurement information</li>
      </ul>
      <h2 class="govuk-heading-m">v1 Support GOV and DfE branding</h2>
      <p><a class="govuk-link" href="v1/start?branding=DfE">External users</a> |
        <a class="govuk-link" href="v1/start?branding=GOVUK">Internal users</a> </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Setup DfE branding for school users</li>
      </ul>
      <h2 class="govuk-heading-m">Initial set up</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Setup new prototype</li>
        <li><a href="https://ghbs-school-collab-00eef3757e79.herokuapp.com/">Push live to heroku</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
