{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: serviceName,
    serviceUrl: "#",
    navigation: [
      {
        href: "#1",
        text: "Cases",
        active: true
      },
      {
        href: "#1",
        text: "Notifications"
      },
      {
        href: "#2",
        text: "Case statistics"
      },
      {
        href: "#3",
        text: "My cases"
      },
      {
        href: "#4",
        text: "Find a case"
      },
      {
        href: "#5",
        text: "Frameworks"
      },
      {
        href: "#6",
        text: "Sign out"
      }
    ]
  }) }}
  <div class="govuk-phase-banner govuk-width-container">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">Beta</strong>
      <span class="govuk-phase-banner__text">This is a new service. Help us
        improve it and <a class="govuk-link" href="https://staging.get-help-buying-for-schools.service.gov.uk/customer_satisfaction_surveys/new?service=supported_journey&source=banner_link">
        give your feedback by email</a>.</span>
    </p>
  </div>
{% endblock %}
